.pokecard{
    border: 2px solid violet;
    font-family: Ranchers;
    border-radius: 25px;
    width: 150px;
    height: 200px min-content;
    margin: 5px;
    text-align: center;
    padding: auto;
    padding-bottom: 10px;
    transition: 1s;
}
.pokecard:hover{
        transform: scale(1.3);
		background-color: rgba(199, 92, 241, 0.767);
		z-index: 2;
		box-shadow: 2px 2px 2px #000;
}
.idDiv{
    border: 2px solid violet;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.idDiv p{
    margin: 5px auto;
}
.CardHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nameDiv{
    margin: 5px auto;
}
.typeDiv p{
    margin: 0;
    padding: 0;
}