.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2vw;
    padding: 20px;
}
.Defolt{
    border:1px solid violet !important;
    border-radius: 15px !important;
    margin: 3px;
    font-size: 15px;
    font-family: Ranchers;
}